
.landing{
    position: relative;
    height:87vh;
    width:100%;
    overflow: hidden;
}
.landing .hero-image{
    height: 87vh;
    width:100%;
    object-fit:cover;
    position: relative;
    overflow: hidden;
}
.overlay{
    position:absolute;
    height: 87vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    z-index: 99;
    overflow:hidden;
}
.overlay .hero-text {
    display:flex;
    flex-direction:column;
    justify-content: center;
    color: #fff;
    width: 50%;
    opacity: 1px;
    animation-name: animate;
    animation-duration: 4s;
}
.overlay .hero-text h1{
    font-size:60px;
    text-align: center;
}
.overlay .hero-text p{
    font-size:18px;
    text-align:center;
}
.overlay  a{
    position:absolute;
    bottom: 100px;
    text-decoration:none;
    color:#000;
    font-size: 24px;
    padding: 15px 20px;
    background-color: #FFC300;
    border-radius: 10px;
    animation-name: animate;
    animation-duration: 4s;
}