.booking {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  animation-name: animate;
  animation-duration: 4s;
}
.hostel-rooms .header {
  text-align: center;
}
.hostel-rooms .hostel-room-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.hostel_room {
  width: 25%;
  padding-right: 10px;
  margin-bottom: 10px;
}
.hostel_room:nth-child(4) {
  padding-right: -0px;
}
.hostel-manager {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px 30px 50px;
  background-color: #ccc;
  margin-top: 50px;
}
.hostel-manager h2 {
  margin-bottom: 70px;
}
.featured-hostels {
  width: 100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 50px;
}
.featured-hostels h2{
    text-align: center;
}
.featured-hostels .card {
    position: relative;
    width: 25%;
    padding-right:15px;
    margin-bottom: 15px;
}
.featured-hostels .card:nth-child(4){
    padding-right: 0px;
}
.featured-hostels .featured-hostel-card .featured-hostel-card-image {
  width: 100%;
  height:200px !important;
  object-fit:cover;
}
.featured-hostels .card .overlay{
    position:absolute;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100px;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index:999;
}
.featured-hostels .card:nth-child(4) .overlay{
    width: 100%;
}
.featured-hostels .card .overlay p{
    color:#ffffff;
    font-size:20px;
}
.featured-hostels .card .overlay a{
    text-decoration:none;
    color: #ffffff;
    background-color: #F5B041;
    padding: 10px 25px;
    width: 100%;
}

@media (max-width: 767px) {
  .booking {
    margin-top: 0px;
  }
  .hostel-rooms .hostel-room-list {
    flex-direction: column;
  }
  .hostel_room {
    width: 100%;
    padding-right: 0px;
  }
  .hostel-manager {
    padding: 0;
    background-color: #ccc;
    margin-top: 15px;
  }
  .featured-hostels {
    flex-direction: column;
    margin-top: 20px;
  }
  .featured-hostels .card {
    width: 100%;
    padding-right:0px!important;
  }
  .featured-hostels .card .overlay{
    width: 100%;
}
.featured-hostels .card .overlay a{
    text-align: center;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
}
