.hostel-list{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}
.hostel-list .column:nth-last-child(2){
    /* padding-right:7px; */
    /* margin-right: 0; */
}