.puc-hero {
  position: relative;
  display: flex;
  flex-direction: column;
}

.puc-hero-content {
  position: absolute;
  top: 10%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  float: left
}

.puc-hero-content h1 {
  font-size: 90px;
  font-weight: bolder;
  color: #fff;
}

.puc-hero-content p {
  color: #fff;
  margin: 0;
  font-size: 60px;
  
}

@media screen and (max-width: 768px) {
  .puc-hero {
    height: 400px;
  }

  .puc-hero-content p {
    font-size: 30px;
  }

  .puc-hero-content h1 {
    font-size: 50px;
    color: #fff;
  }

  .puc-hero-content {
    top: 20%;
  }
}
