.room{
    background-color: #000080;
    color:#ffffff;
    padding: 10px 15px;
    width:100%;
    height: auto;
}
.room .room-no{
    font-size: 26px;
}
.room span{
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
}
.room span i{
    padding-right: 15px;
}
.room .room-footer{
    display: flex;
    flex-direction: row;
}
.room .room-footer h2{
    margin: 0;
}
.room .room-footer a{
    height: 35px;
    padding: 10px;
    margin-top: 5px;
    margin-left: auto;
    text-decoration: none;
    background-color: #F5B041;
    border-radius: 5px;
}