.hostel{
    padding-bottom: 15px;
}
.hostel-title {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}
.breadcrumb-links{
    padding: 15px 0;
}

.hostel-image-container {
    border-radius: 10px;
}

.image {
    object-fit: cover;
    border-radius: 10px;
}

.hostel-details {
    height: 340px;
    min-height: 340px;
    background: #0A223D;
    border-radius: 8px;
    padding: 30px;
}

.hostel-details p,
.hostel-details h3 {
    color: #fff;
    margin: 0;
}

.description-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.description {
    margin-top: 15px;
}
.pricing h3{
    font-size: 22px;
    margin-bottom: 20px;
}

.description-item {
    margin-bottom: 10px;
}

.description-item .description-icon {
    margin-right: 15px;
    font-size: 20px;
}

.description-icon,
.description-item p{
    align-self: center;
    color: #fff;
}
.enquiry{
    margin-top: 24px;
}
.enquiry-text{
    margin-right: 15px;
    margin: 0 15px 0 0;
    color: #fff;
    font-size: 20px;
}
.enquiry-phone {
    width: 100%;
    height: 50px;
    background: green;
    margin-left: auto;
    color: #fff;
}
.contact-phone{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.enquiry-phone:hover > a{
    color: #000;
}