.logo{
    height: 64px;
    text-align: center;
    background: #fff;
    /* border-bottom: 1px solid #ccc; */
}

.side-title{
    padding: 10px;
    font-weight: bold;
    background: #eee;
    border-right: 1px solid #fff;
}