.nav-menu {
    align-self: center;
    list-style: none;
    padding: 0;
    margin: 0 0 0 20px;
}

.nav-menu li {
    display: inline;
    font-size: 16px;
    padding: 10px;
}

.nav-menu li a {
    display: inline-block;
    color: #000;
}

.nav-menu-right {
    margin-left: auto;
    font-size: 16px;
}
.hamburger{
    display: none;
}

.drawer-links{
    list-style: none;
    margin: 0;
    padding: 0;
}

.drawer-links li{
    display: block;
}

.drawer-links li a {
    display: block;
    padding: 10px 10px 10px 0;
    color: #000;
}

.drawer-links li i{
    margin-right: 10px;
}

.login-btn{
    border: 1px solid red;
    border-radius: 5px;
    padding: 10px 30px;
    background: #0A223D;
    color: #fff;
}


@media screen and (max-width: 768px) {
    
    .nav-menu,
    .nav-menu-right {
        display: none;
    }
    .hamburger {
        margin-left: auto;
        font-size: 24px;
    }
    
    .hamburger:hover {
        cursor: pointer;
    }
    
    .hamburger {
        display: block;
    }
}