.logo{
    /* height: 64px; */
    text-align: left;
    background: #fff;
}

.logo h4{
    margin: 0;
    padding: 15px 10px;
}

.side-title{
    padding: 10px;
    font-weight: bold;
    background: #eee;
    border-right: 1px solid #fff;
}