.available-rooms {
  margin-top: 40px;
}

.available-rooms .av-title {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.room-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}

.room-list .room-detail {
  min-height: 250px;
  background-color: #04276c;
  color: #fff;
  border-radius: 5px;
}

.room-list .room-detail h3,
.room-list .room-detail p {
  margin: 0;
  color: white;
}

@media screen and (max-width: 768px) {
  .room-list {
    grid-template-columns: 1fr;
  }
}
