.hostel {
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.hostel-image {
    border-radius: 10px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    opacity: 0.2;
}

.overlay:hover {
    opacity: 0.6;
}

.hostel-info {
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.hostel-name,
.hostel-location {
    color: white;
    margin: 0;
}
.hostel-name {
    font-size: 20px;
}
.hostel-location {
    font-size: 12px;
}