* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  /* background-color: #e7e5fd; */
}

img {
  -webkit-user-drag: none;
}

.app-login-link,
.app-back-link {
  font-size: 18px;
}

.app-back-link {
  margin-top: 15px;
}

.ant-modal-content,
.ant-modal-header {
  border-radius: 10px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0A223D;
  border-radius: 10px;
}

.ant-table .ant-table-container .ant-table-content table thead.ant-table-thead{
  text-transform: uppercase;
}