body,html {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
}
.nav-bg{
  background-color: transparent;
}
.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.container{
  width: 80%;
  height: 100%;
  margin-bottom: 50px;
}
.auth-wrapper{
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.form__floating{
  position:relative;
  padding: 9px 0;
}
.input__control{
  width: 100%;
  outline: none;
  border: none;
  border: 1px solid #ccc;
  padding: 20px 15px;
  font-size:18px;
  background-color:#ffffff;
}
.input__label{
  position: absolute;
  top:0;
  left:15px;
  background-color:#fff;
  color: #4F4F4F;;
}
.bg-blue{
  background-color: #F5B041;
}
.auth__question{
  text-align:center;
}
.btn-color{
  color: #ffffff;
}
.buttonStyle{
  padding: 10px 25px;
  margin: 15px 15px;
}

.loader {
  border: 15px solid #f3f3f3; 
  border-top: 15px solid #3498db; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
.modal-actions{
  width: 100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}
.modal-actions button{
  width: 100%;
  padding: 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes animate {
  0%   {opacity: 0; }
  100%  {opacity:1;}
}

@media (max-width: 767px) {
  .container{
    width: 100%;
    height: 100%;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
}