.hostel {
    padding-bottom: 15px;
}

.hostel-title {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
}

.hostel-image-container {
    border-radius: 10px;
}

.image {
    object-fit: cover;
    border-radius: 10px;
}

.booking-details {
    height: 340px;
    min-height: 340px;
    background: #0A223D;
    border-radius: 8px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

.booking-room-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.booking-details .booking-title,
.booking-details .room-name,
.room-hostel-name,
.room-bed-detail,
.booking-expiration {
    margin: 5px 0;
}
.room-name{
    color: #fff;
}

.booking-title, .room-hostel-name, .booking-expiration{
    color: #cecece;
    font-size: 12px;
}
.room-bed-detail{
    /* font-size: 20px; */
    color: #fff;
}


.room-mate {
    margin-top: 20px;
}

.room-mate-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px 0;
}
.room-mate-item .room-mate-icon {
    margin-right: 7px;
    font-size: 16px;
}

.room-mate-item .room-mate-icon,
.room-mate-item .room-mate-name {
    align-self: center;
    color: #fff;
}

.room-mate-name{
    margin: 0;
}

.room-mate-call-btn{
    align-self: center;
    margin-left: auto;
    border: 1px solid green;
    background-color: green;
    color: white;
}

.booking-actions{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: green;
    margin-top: auto;
}

.cancel-room-btn, .change-room-btn, .booking-payment-btn{
    width: 100%;
    color: white;
}
.cancel-room-btn{
    background-color: red;
}
.change-room-btn{
    background-color: goldenrod;
}
.booking-payment-btn{
    background-color: green;
}

.my-room-info{
    display: flex;
    flex-direction: row;
    color: #fff;
    font-size: 12px;
}
.my-room-info i{
    margin-right: 10px;
}
.my-room-info p{
    margin: 0;
}

/* room styles */

.room {
    min-height: 250px;
    background: #0A223D;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0 3px 0;
}

.room .title {
    color: #fff;
    margin: 0 0 20px 0;
    font-size: 24px;
}

.room-detail-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 0;
}

.room-detail-item p {
    margin: 0;
    font-size: 12px;
}

.room-detail-item i {
    margin-right: 10px;
}

.room-detail-item p,
.room-detail-item i {
    align-self: center;
    color: #fff;
}

.room-detail-item-pricing {
    align-self: center;
    display: flex;
    flex-direction: column;
    padding: 5px 0;
}

.room-detail-item-pricing h3 {
    font-size: 18px;
}

.room-detail-item-pricing h3,
.room-detail-item-pricing p {
    margin: 0;
    color: #fff;
}

.view-btn {
    align-self: center;
    margin-left: auto;
}

/* Hoste manager profile styls */
.hostel-manager-profile {
    width: 100%;
    padding: 30px 0;
    background: #eee;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.other-hostels {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.slider {
    margin: 0 0 90px 0;
}

.student-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.student-profile h3, .student-profile h4{
    margin: 0;
}

.student-profile small{
    margin-bottom: 20px;
}