.signup {
  width: 40%;
  animation-name: animate;
  animation-duration: 4s;
}
.signup-form__header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

.signup-form h1 {
  color: rgb(7, 7, 92) !important;
}

.user-info {
  display: flex;
  flex-direction: row;
}
.user-info span {
  padding: 0 10px;
}
@media (max-width: 767px) {
  .signup {
    width: 100%;
    padding: 20px;
  }
  .user-info {
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}
